@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");
.strong {
  border-radius: 4px;
  margin-top: 1px;
  margin-left: 3px;
  margin-right: 2px;
}
body {
  font-family: "National Park", sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
}
