<!-- Carrossel -->
<div id="carousell" class="swiper mySwiper w-full max-w-[1400px] overflow-hidden">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../imgs/banner1.png" class="w-full h-full" />
    </div>
    <div class="swiper-slide">
      <img src="../imgs/banner2.png" class="w-full h-full" />
    </div>
    <div class="swiper-slide">
      <img src="../imgs/banner3.png" class="w-full h-full" />
    </div>
    <div class="swiper-slide">
      <img src="../imgs/banner4.png" class="w-full h-full" />
    </div>
    <div class="swiper-slide">
      <img src="../imgs/banner5.png" class="w-full h-full" />
    </div>
    <div class="swiper-slide">
      <img src="../imgs/banner6.png" class="w-full h-full" />
    </div>
  </div>

  <!-- Bolinhas de navegação -->
  <div id="pagination" class="flex justify-center gap-2 mt-4"></div>
</div>
