<section class="bg-white py-36">
  <h1 class="text-2xl font-bold text-gray-800 ml-[120px] mb-6">Promoções</h1>

  <div class="relative w-full max-w-[1200px] mx-auto px-4 sm:px-6">
    <!-- Botão anterior -->
    <button
      id="promo-next"
      class="group absolute right-0 top-1/2 transform -translate-y-1/2 z-10 button-next bg-neutral-100 border border-neutral-400 rounded-full p-3 flex items-center justify-center shadow-md transition-all duration-300 hover:bg-neutral-300 hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-neutral-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-black transition-transform duration-300 group-hover:rotate-12"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
    </button>

    <div
      id="promo-carousel"
      class="flex overflow-hidden scroll-smooth gap-4 px-4 sm:px-10 sm:pr-[calc(100%-300px)] max-w-full"
    >
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <div class="relative w-full h-full group overflow-hidden">
            <img
              src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F3235483-880-auto&w=1280&q=100"
              alt="Produto"
              class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
            />

            <video
              autoplay
              muted
              loop
              playsinline
              class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
              src="https://player.vimeo.com/progressive_redirect/playback/1028546665/rendition/1080p/file.mp4?loc=external&signature=4c6cfcfb38003d005e36edb7d75c2ff91897d26fd5a4b059045a5c64c8b725d3"
            ></video>
          </div>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Shorts feminino em alfaiataria debochada - caqui
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 255,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 219,99</p>
          </div>
          <p class="text-sm text-gray-500">4x R$ 55,00 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F3207269-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1028547585/rendition/1080p/file.mp4?loc=external&signature=a584d5fd20f25ad83be23c6c411a214083584ee320e8b0036fe94b6abae1a191"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Camiseta básica unissex manga curta sem degradê- preto
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 119,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 79,99</p>
          </div>
          <p class="text-sm text-gray-500">1x R$ 79,99 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F1249689-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://cf.gruposoma.animale.com.br/hering_ecomm/Hering/K4UV2ESI.mp4"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Blusão feminino em tricô texturizado com fendas - rosa
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 199,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 69,99</p>
          </div>
          <p class="text-sm text-gray-500">1x R$ 69,99 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F3228390-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://cf.gruposoma.animale.com.br/hering_ecomm/Hering/K0M0YRBSI.mp4"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Jaqueta puffer feminina matelassê ondulada - amarelo
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 279,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 219,99</p>
          </div>
          <p class="text-sm text-gray-500">2x R$ 109,99 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F2705026-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1049393540/rendition/720p/file.mp4?loc=external&signature=bb82b1f80a12e429ca031764385f6159efb2e5ccca1b90f0c6a1bee0eb0588d5"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            kimono feminino estampado manga 7/8 com linho - marrom
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 239,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 119,99</p>
          </div>
          <p class="text-sm text-gray-500">2x R$ 60,00 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F2702957-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1049393409/rendition/720p/file.mp4?loc=external&signature=1210c75cc17851f51a1a107be0ef60ac10f22823c8e3fb54c42adc0626a00abc"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Blazer feminino eco outono/inverno - laranja
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 399,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 199,99</p>
          </div>
          <p class="text-sm text-gray-500">3x R$ 66,66 sem juros sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F3198724-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1049394068/rendition/720p/file.mp4?loc=external&signature=f72bb2fd216cfcbbefa9ce34b4d44187293e3006919e69f383f752eff46e8ecf"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Camiseta básica masculina manga curta pima - vinho
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 259,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 199,99</p>
          </div>
          <p class="text-sm text-gray-500">3x R$ 66,66 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F3210558-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1028547574/rendition/1080p/file.mp4?loc=external&signature=70450fdbd97777259579b162a2c051f73c773e04f3a480f36cca788c9a22bbd8"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            camiseta básica masculina manga curta em malha h+ - branco
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 79,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 39,99</p>
          </div>
          <p class="text-sm text-gray-500">1x R$ 39,99 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F2692306-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1049332052/rendition/1080p/file.mp4?loc=external&signature=b3aef2869bbb82920f475e75274d03b549a31aa0fde499643b2a65304189025d"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Camiseta masculina manga curta fio tinto bossa - verde
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 159,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 99,99</p>
          </div>
          <p class="text-sm text-gray-500">1x R$ R$ 99,99 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F3446144-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1049331437/rendition/1080p/file.mp4?loc=external&signature=2ad8cadc9420555f0bbc07d5547f59fbdd2ec103ff6e5067f6874ac95304a275"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            Camiseta masculina manga curta com estampa - branco
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 119,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 79,99</p>
          </div>
          <p class="text-sm text-gray-500">1x R$ 79,99 sem juros</p>
        </div>
      </div>
      <div
        class="relative min-w-[300px] border rounded shadow-md h-[500px] p-2 group overflow-hidden"
      >
        <div class="relative h-[380px] overflow-hidden rounded-sm">
          <img
            src="https://www.hering.com.br/_next/image?url=https%3A%2F%2Fhering.vtexassets.com%2Farquivos%2Fids%2F2971408-880-auto&w=1280&q=100"
            alt="Produto"
            class="w-full h-full object-cover transition-opacity duration-500 ease-in-out group-hover:opacity-0"
          />

          <video
            autoplay
            muted
            loop
            playsinline
            class="absolute inset-0 w-full h-full object-cover opacity-0 transition-opacity duration-500 ease-in-out group-hover:opacity-100"
            src="https://player.vimeo.com/progressive_redirect/playback/1049332243/rendition/1080p/file.mp4?loc=external&signature=927efe25f32ba14cc70bd3dd329760cba4c6cdf48e00da640cc96be582eeacde"
          ></video>

          <div
            class="absolute bottom-0 left-0 w-full bg-white bg-opacity-90 backdrop-blur-md py-3 opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 ease-in-out flex gap-2 items-start"
          >
            <div class="flex gap-1">
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                P
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                M
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                G
              </button>
              <button
                class="px-3 py-1 border border-gray-300 rounded text-sm hover:bg-black hover:text-white transition"
              >
                GG
              </button>
            </div>

            <button
              class="bg-black text-white text-sm px-4 py-2 rounded hover:bg-gray-800 transition"
            >
              Adicionar
            </button>
          </div>
        </div>

        <div class="mt-2 space-y-1">
          <p class="text-sm text-gray-700">
            regata básica masculina slim em ribana canelada - off white
          </p>
          <div class="flex items-center gap-2">
            <p class="text-sm text-gray-400 line-through">R$ 99,99</p>
            <p class="text-lg font-bold text-gray-900">R$ 69,99</p>
          </div>
          <p class="text-sm text-gray-500">1x de R$ 69,99 sem juros</p>
        </div>
      </div>
    </div>

    <div id="promo-dots" class="flex justify-center gap-2 mt-4"></div>

    <button
      id="promo-prev"
      class="group absolute left-0 top-1/2 transform -translate-y-1/2 z-10 bg-neutral-100 border border-neutral-400 rounded-full p-3 flex items-center justify-center shadow-md transition-all duration-300 hover:bg-neutral-300 hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-neutral-400"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 text-black transition-transform duration-300 group-hover:-rotate-12"
        fill="none"
        viewBox="0 0 24 24"
        stroke="black"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </button>
  </div>
</section>
